<div class="ui container">
  <div class="ui sixteen column grid header">
    <h1>Contact</h1>
    <div class="leader lightgrey">
      <p>We’re a friendly bunch and we’d love to talk to you about pretty much anything! Nothing’s too big or small, so let’s talk.
      </p>
    </div>
  </div>
  <div class="ui three column grid">
    <div class="row">
      <div class="column">
        <div class="contactdetail">
          <h4 class="no-margin">Call</h4>
          <span class="leader">+44 7730 307800</span>
        </div>
        <div class="contactdetail">
          <h4 class="no-margin">Email Address</h4>
          <span class="leader">info@andyhau.com</span>
        </div>
      </div>
      <div class="column">
        <div class="contactdetail address">
          <h4 class="no-margin">Physical Address</h4>
          <p>Unit 2.02<br> Clerkenwell Workshops<br> 27-31 Clerkenwell Close<br> London
            <br> EC1R 0AT</p>
        </div>
      </div>
      <div class="column">
        <div class="ui menu social icon">
          <div class="item">
            <button class="ui circular linkedin icon button">
          <i class="linkedin icon"></i>
        </button>
          </div>
          <div class="item">
            <button class="ui circular stack overflow icon button">
        <i class="stack overflow icon"></i>
      </button>
          </div>
          <div class="item">
            <button class="ui circular github icon button">
        <i class="github icon"></i>
      </button>
          </div>
          <div class="item">
            <button class="ui circular codepen icon button">
        <i class="codepen icon"></i>
      </button>
          </div>
          <div class="item">
            <button class="ui circular cv icon button">
        <p>CV</p>
      </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui sixteen column grid">
    <!-- <iframe width="1175" height="450" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaeMSNy25wjsRcemhAbNJP0Y&key=AIzaSyBi4527UpzXj19aA4AGxKCANZJHDiDkvbk" allowfullscreen>
    </iframe> -->
    <div class="map">
      <div class="map__canvas" id="gmap" style="overflow: hidden;">
      </div>
    </div>
  </div>
</div>
