<div class="ui container">

  <!-- <div class="ui internally grid">
    <div class="grid-l">
      <div class="home-content">
        <h1 class="animated fadeInLeft">Sumit</h1>
        <h1 class="animated fadeInRight">Ridhal</h1>
        <p class="animated fadeInUp delay-two">Several years of experience in full stack development and graphic design. Currently working as a Software Engineer @ TechMahindra.</p>
      </div>
    </div>
  </div> -->
  <div class="ui internally grid">
    <div class="ui main container">
      <div class="introduction">
        <h1 class="ui header">
          <!-- <span class="name animated fadeInLeft">
            Hello! My name is <span>Sumit Ridhal</span>.
          </span> -->
          <span class="name animated fadeInLeft">
            I AM A
          </span>
            <span class="library animated fadeInRight">
              Full Stack Developer
            </span>
            <span class="tagline animated fadeInUp delay-two">
              Several years of experience in full stack development and graphic design. Currently working as a Software Engineer @ TechMahindra.
            </span>
          </h1>
      </div>
    </div>
    <div class="cb-scroller animated fadeInUp delay-one"  [hidden]="topOffSet!=0"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 40" style="enable-background:new 0 0 25 40;" xml:space="preserve"><path d="M11,39.5C5.2,39.5,0.5,34.8,0.5,29V11C0.5,5.2,5.2,0.5,11,0.5h3c5.8,0,10.5,4.7,10.5,10.5v18c0,5.8-4.7,10.5-10.5,10.5H11z"></path><circle cx="12.5" cy="11.5" r="1.5"></circle></svg>
    </div>
  </div>

  <!-- <div class="ui internally grid">
    <div class="ui main container">
      <div class="introduction">
        <h1 class="ui header">
            <span class="library">
              Full Stack Developer
            </span>
            <span class="tagline">
              Crafting and visualizing concrete solutions that serve human needs and goals within certain constraints.
            </span>
          </h1>
      </div>
    </div>
  </div> -->

  <div class="ui internally grid">
    <div class="row" style="margin: 5em 0 5em 0;">
      <div class="four wide column">
        <h1 class="bold">About me</h1>
      </div>
      <div class="twelve wide column">
        <p class="info">
          My 3+ years of experience in web design has given me an eye for detail, a mind for creativity and a technical aptitude for UI development.
          <br>
          <br> Self-motivation and passion are what feeds my eager to learn front-end technologies. I strive to build responsive websites and intuitive digital experiences with semantic HTML5 markup, JavaScript, CSS3, Angular/AngularJS, and NodeJS.
          <br>
          <br> Off the computer, I enjoy painting, sketching.
        </p>
      </div>
    </div>
  </div>

  <div class="ui three column grid">
    <div class="row">
      <div class="column">
        <div class="ui centered">
          <a href="http://google.com" class="image">
              <img class="ui medium centered circular image" src="http://www.andyhau.com/wp-content/uploads/2015/08/Andy_Hau_Virgin_Train_Animation_Title.gif">
              <div class="arrow">
                  <i class="arrow right icon"></i>
              </div>
            </a>
          <div class="content">
            <h3 class="header centered">Virgin Trains: Animation</h3>
            <p>Graphic Design & Product Design</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui centered">
          <a href="http://google.com" class="image">
            <img class="ui medium centered circular image" src="http://www.andyhau.com/wp-content/uploads/2015/04/cover-500x500.jpg">
            <div class="arrow">
              <i class="arrow right icon"></i>
            </div>
          </a>
          <div class="content">
            <h3 class="header centered">American Express: Card Art</h3>
            <p>Graphic Design</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui centered">
          <a href="http://google.com" class="image">
            <img class="ui medium centered circular image" src="http://www.andyhau.com/wp-content/uploads/2015/05/TFOD_ANDY_HAU_FINAL_2-500x500.jpg">
            <div class="arrow">
              <i class="arrow right icon"></i>
            </div>
          </a>
          <div class="content">
            <h3 class="header centered">Quinn the Fox</h3>
            <p>Graphic Design</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
