<div class="ui container">
  <div class="ui sixteen column grid header">
    <h1>Skills</h1>
    <div class="leader lightgrey">
      <p>A look at some of my unique key skills</p>
    </div>
  </div>
  <div class="ui six doubling cards">
    <div class="centered card">
      <div class="image">
        <img src="assets/img/js.svg">
      </div>
    </div>
    <div class="centered card">
      <div class="image">
        <img src="assets/img/angular.svg">
      </div>
    </div>
    <div class="centered card">
      <div class="image">
        <img src="assets/img/css3.png">
      </div>
    </div>
    <div class="centered card">
      <div class="image">
        <img src="assets/img/html5.png">
      </div>
    </div>
    <div class="centered card">
      <div class="image">
        <img src="assets/img/node.svg">
      </div>
    </div>
    <div class="centered card">
      <div class="image">
        <img src="assets/img/typescript.svg">
      </div>
    </div>
  </div>
</div>
